<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footerJs">
<!-- js -->
    <script th:src="@{/plugin/jquery.min.js}"></script>
    <script th:src="@{/plugin/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/plugin/fastclick/lib/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/plugin/nprogress/nprogress.js}"></script>
    <!-- Chart.js -->
    <script th:src="@{/plugin/Chart.js/dist/Chart.min.js}"></script>
    <!-- gauge.js -->
    <script th:src="@{/plugin/gauge.js/dist/gauge.min.js}"></script>
    <!-- bootstrap-progressbar -->
    <script th:src="@{/plugin/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
    <!-- iCheck -->
    <script th:src="@{/plugin/iCheck/icheck.min.js}"></script>
    <!-- Skycons -->
    <script th:src="@{/plugin/skycons/skycons.js}"></script>
    <!-- Flot -->
    <script th:src="@{/plugin/Flot/jquery.flot.js}"></script>
    <script th:src="@{/plugin/Flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/plugin/Flot/jquery.flot.time.js}"></script>
    <script th:src="@{/plugin/Flot/jquery.flot.stack.js}"></script>
    <script th:src="@{/plugin/Flot/jquery.flot.resize.js}"></script>
    <!-- Flot plugins -->
    <script th:src="@{/plugin/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
    <script th:src="@{/plugin/flot-spline/js/jquery.flot.spline.min.js}"></script>
    <script th:src="@{/plugin/flot.curvedlines/curvedLines.js}"></script>
    <!-- DateJS -->
    <script th:src="@{/plugin/DateJS/build/date.js}"></script>
    <!-- JQVMap -->
    <script th:src="@{/plugin/jqvmap/dist/jquery.vmap.js}"></script>
    <script th:src="@{/plugin/jqvmap/dist/maps/jquery.vmap.world.js}"></script>
    <script th:src="@{/plugin/jqvmap/examples/js/jquery.vmap.sampledata.js}"></script>
    <!-- bootstrap-daterangepicker -->
    <script th:src="@{/plugin/moment/min/moment.min.js}"></script>
    <script th:src="@{/plugin/bootstrap-daterangepicker/daterangepicker.js}"></script>

    <!-- Custom Theme Scripts -->
    <script th:src="@{/js/admin/custom.min.js}"></script>          
</div>


</body>
</html>